<div class="col-md-8">  
  <div class="form-group nested-fields">
    <%#= f.label :name %>
    <div class="row">
      <div class="col-md-6">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="col-md-2">
        <%= link_to_remove_association fa_icon('trash lg'), f, class: 'danger' %>
      </div>
    </div>
  </div>
</div>  