<div class="inner cover">
  <h1 class="cover-heading">Hola!</h1>
  <p class="lead"><strong><em>"An Inquisitive Mind"</em></strong>, that just about sums me up.</p>
  <p>I like to refer to myself as "a squirrel trying to find a nut."  In the following pages you'll see my feeble attempt at trying to portray my persona through <code>code</code>.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>


    
